* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
    /* max-width: 1440px; */
}

a {
    text-decoration: none;
    color: #FFF;

}

ul,
ol {
    list-style: none;
}