
@media(max-width:688px) {

    .productive {
        display: flex;
        flex-wrap: wrap;
    }

    .principal .imagen-pricipal img,
    .productive .img-left img {
        max-width: 400px;
        max-height: 400px;
    }

    .productive .text-right h2 {
        display: flex;
        font-size: 2rem;
        margin-top: 5rem;
        margin-left: 100px;
    }

    .productive .text-right p {
        text-align: start;
        margin-left: 30px;
    }

    .productive .text-right .arrow {
        margin-left: 35px;
    }

    .rodape-baixo .contact,
    .rodape-baixo .contact img {
        font-size: 10px;
        margin-left: 5px;
    }

    .rodape-baixo .menu-rodape {
        gap: 0;
    }

    .redes {
        display: flex;
        flex-direction: column;
    }

    .redes a {
        display: flex;
        margin-top: 0;
    }
}


@media(max-width:414px) {

    header {
        padding: 2rem;
    }

    header .logo {
        display: flex;
        flex-direction: row;
        height: 3rem;
    }

    header .menu li {
        padding: 1rem;
        font-size: 1.3rem;
    }

    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../image/bg-curvy-desktop.svg) center bottom no-repeat;
        background-color: hsl(217, 28%, 15%);
        background-size: contain;
    }

    .principal .imagen-pricipal img {
        width: 300px;
        height: 300px;

    }

    .principal .texto-principal {
        font-size: 30px;
        /* font-weight:400; */
    }

    .principal .texto-secundario {
        font-weight: 400;
        font-size: 15px;
    }

    .principal .btn {
        margin: 10px 0 150px 0;
    }

    .apresenta {
        display: block;
        margin: 10px;

    }

    .servicos {
        display: flex;
        flex-direction: column;
    }

    .productive {
        display: flex;
        flex-wrap: wrap;
    }

    .productive .text-right h2 {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
        margin: 30px;
    }

    .productive .text-right p {
        text-align: start;
        margin-left: 30px;
    }

    .productive .img-left img {
        max-width: 300px;
        max-height: 300px;
    }

    .productive .text-right .arrow {
        margin-left: 35px;
    }

    .fundador {
        flex-direction: column;
        padding: 0;
        margin-left: 30px;

    }

    .aspas {
        position: relative;
        bottom: -23px;
        left: 40px;
        z-index: -1;
        padding-top: 100px;
    }

    .box-fundador {
        width: 300px;

    }

    .login {
        width: 340px;
    }

    .login-h2 {
        font-size: 18px;
    }

    .input-email,
    .login-btn {
        width: 250px;
    }

    .rodape {
        padding: 0;
        display: flex;
        flex-wrap: wrap;


    }

    .rodape .logo {
        display: flex;
        align-items: flex-start;
        margin: 30px 50px 30px;
    }

    .rodape-baixo {
        display: flex;
        flex-direction: column;

    }

    .localiza,
    .rodape .contact {
        padding-top: 30px;
        margin-left: 25px;
    }

    .contact-email {
        display: flex;
        align-items: center;
        margin-left: -10px;
    }

    .contact-email img {
        margin: 0;
        padding: 10px;
    }

    .menu-rodape {
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        width: 300px;
        margin-top: 60px;
    }

    .menu-rodape .right {
        margin: 30px 0 50px;
    }

    .redes {
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}

