@media (max-width:375px) {

    header .logo {
        display: flex;
        flex-direction: row;
        height: 2rem;
    }

    header .menu li {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .principal {
        background: url(../image/bg-curvy-desktop.svg) center bottom no-repeat;
    }

    .principal .imagen-pricipal img {
        width: 300px;
        height: 300px;
    }

    .principal .texto-principal {
        font-size: 30px;
    }

    .principal .btn {
        margin-bottom: 150px;
    }

    .apresenta {
        display: block;
        margin: 10px;
    }

    .servicos {
        display: flex;
        flex-direction: column;
    }

    .productive .img-left img {
        width: 300px;
        height: 300px;
    }

    .fundador {
        flex-direction: column;
        padding: 0;
        margin-left: 30px;

    }

    .productive .text-right h2 {
        font-size: 2rem;
        text-align: center;
    }

    .productive .text-right p,
    .productive .text-right a {
        text-align: start;
        margin-left: 30px;
    }

    .aspas {
        position: relative;
        bottom: -23px;
        left: 40px;
        z-index: -1;
        padding-top: 100px;
    }

    .box-fundador {
        width: 300px;
    }

    .login {
        width: 340px;
    }

    .login-h2 {
        font-size: 18px;
    }

    .input-email,
    .login-btn {
        width: 250px;
    }

    .rodape {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .rodape .logo {
        display: flex;
        align-items: flex-start;
        margin: 30px 50px 30px;
    }

    .rodape-baixo {
        display: flex;
        flex-direction: column;
    }

    .localiza,
    .rodape .contact {
        padding-top: 30px;
        margin-left: -100px;
    }

    .contact-email {
        display: flex;
        align-items: center;
    }

    .contact-email img {
        margin: 0;
        padding: 10px;
    }

    .menu-rodape {
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        width: 300px;
        margin-top: 60px;
    }

    .menu-rodape .right {
        margin: 30px 0 50px;
    }

    .redes {
        margin-bottom: 50px;
    }
}

@media(max-width:414px) {

    header .logo {
        display: flex;
        flex-direction: row;
        height: 2rem;
    }

    header .menu li {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../image/bg-curvy-desktop.svg) center bottom no-repeat;
        background-color: hsl(217, 28%, 15%);
        background-size: contain;
    }

    .principal .imagen-pricipal img {
        width: 300px;
        height: 300px;
    }

    .principal .texto-principal {
        font-size: 30px;
    }

    .principal .btn {
        margin-bottom: 150px;
    }

    .apresenta {
        display: block;
        margin: 10px;

    }

    .servicos {
        display: flex;
        flex-direction: column;
    }

    .productive .img-left img {
        width: 300px;
        height: 300px;

    }

    .fundador {
        flex-direction: column;
        padding: 0;
        margin-left: 30px;

    }

    .productive .text-right h2 {
        font-size: 2rem;
        text-align: center;
    }

    .productive .text-right p,
    .productive .text-right a {
        text-align: start;
        margin-left: 30px;
    }


    .aspas {
        position: relative;
        bottom: -23px;
        left: 40px;
        z-index: -1;
        padding-top: 100px;
    }

    .box-fundador {
        width: 300px;

    }

    .login {
        width: 340px;
    }

    .login-h2 {
        font-size: 18px;
    }

    .input-email,
    .login-btn {
        width: 250px;
    }

    .rodape {
        padding: 0;
        display: flex;
        flex-direction: column;


    }

    .rodape .logo {
        display: flex;
        align-items: flex-start;
        margin: 30px 50px 30px;
    }

    .rodape-baixo {
        display: flex;
        flex-direction: column;
    }

    .localiza,
    .rodape .contact {
        padding-top: 30px;
        margin-left: -100px;
    }

    .contact-email {
        display: flex;
        align-items: center;

    }

    .contact-email img {
        margin: 0;
        padding: 10px;
    }

    .menu-rodape {
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        width: 300px;
        margin-top: 60px;
    }

    .menu-rodape .right {
        margin: 30px 0 50px;
    }

    .redes {
        margin-bottom: 50px;
    }
}