html {
    font-size: 62.5%;
}

body {
    background-color: hsl(218, 28%, 13%);
    color: #FFF;
    font-family: 'Public Sans', sans-serif;
    flex-wrap: wrap;
    box-sizing:border-box;
    /* max-width:1920px; */
}

header {
    background-color: hsl(217, 28%, 15%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
}

header .logo {
    display: flex;
    height: 3.2rem;
}

header .menu {
    display: flex;
    align-items: center;

}

header .menu li {
    padding: 3rem;
    font-size: 1.5rem;
}

header .menu li a {
    color: #CCC;
}

header .menu li a:hover {
    color: #FFF;
    font-weight: bold;
    text-decoration: underline;
}

/* Conteúdo principal */

.container {
    max-width: 1920px;
    /* já foi setado em 1440, fica quase, mas não é ainda */
    min-height: 375px;
    margin: 0 auto;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../image/bg-curvy-desktop.svg) center bottom no-repeat;
    background-color: hsl(217, 28%, 15%);
    background-size: contain;

}

.principal .texto-principal {
    display: flex;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 50px;

}

.principal .texto-secundario {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 19px;
    margin: 40px;
    font-weight: 400;
}

.principal .btn {
    background-image: linear-gradient(rgb(56, 122, 122), aqua);
    border-radius: 50px;
    padding: 15px 75px;
    font-size: 15px;
    font-weight: 700;
    color: #FFF;
    margin-top: 25px;
    margin-bottom: 10%;
}

.principal .btn:hover {
    background-image: linear-gradient(aqua, rgb(56, 122, 122));
}

/*  serviços */

.servicos {
    background-color: hsl(218, 28%, 13%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.servicos img {
    height: 80px;
    flex-wrap: wrap;
}

.servicos a {
    display: flex;
    justify-content: center;
    text-align: center;
}

.servicos h2 {
    font-size: 2rem;
    text-align: center;
    margin: 20px 10px;
}

.servicos p {
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 30px
}

.productive {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    column-gap: 50px;

}

.productive .img-left {
    margin-left: 80px;
}

.productive .text-right h2 {
    font-size: 4.5rem;
    margin-left: 50px;
    margin-bottom: 25px;
}

.productive .text-right p {
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 5px;
}

.productive .text-right a {
    font-size: 1.2rem;
    color: #62e0d9;
    margin-left: 55px;
    text-decoration: underline;
}

.productive .text-right img {
    margin-left: 5px;
}

.productive .text-right a:hover {
    color: #FFF;
}

/*  */
.apresenta {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.aspas {
    position: relative;
    left: 100px;
    bottom: 27px;
    z-index: -1;
}

.depoimentos {
    display: flex;
    max-width: 1440px;
    column-gap: 20px;
    margin-bottom:150px;
    padding:0px 50px;
}

.box-depoimento {
    background-color: hsl(217, 28%, 15%);
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 10px 5px 15px rgb(31, 29, 29);
    display: flex;
    margin: 10px;
    justify-content: space-around;

}

.box-depoimento p {
    font-size: 1.4rem;
    padding: 2rem;

}

.box-depoimento .img-depoimentos {
    margin-left: 20px;
    display: flex;
    float: left;

}

.box-depoimento .img-depoimentos img {
    border-radius: 50%;
    height: 3rem;
    margin-right: 1rem;
}

.box-depoimento .name {
    font-size: 8px;
    line-height: 2rem;
}

/* Footer */

.rodape {
        background-color:hsl(216, 53%, 9%);
        font-size:15px;
        padding:0px 50px;
}
.rodape .logo {
    padding-top: 150px;
    
}

.rodape-baixo {
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.rodape .localiza {
    display: flex;
    
}
.rodape .localiza img {
   margin-right:10px;
   
}

.rodape .contact {
      display:flex;
      flex-direction: column;
}
.rodape .contact .contact-phone img, 
.contact-email img {
    margin-right:20px;
    
}

.lista {
    display: flex;
    column-gap: 50px;
    text-align: center;
    justify-content:center;
}
.lista-1  li,
.lista-2 li {
    margin:20px;
}

.redes {
    font-size:30px;
    
}
.redes i {
    margin:17px;
    color:#FFF;
}