html {
    font-size: 62.5%;
}

body {
    background-color: var(--main-dark);
    color: var(--whith);
    font-family: 'Outfit', sans-serif;
    margin:0 auto;
}

header {
    background-color: var(--primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    font-family: 'Raleway', sans-serif;
}

header .logo {
    display: flex;
    height: 3.2rem;
}

header .menu {
    display: flex;
    align-items: center;

}

header .menu li {
    padding: 3rem;
    font-size: 1.5rem;
}

header .menu li a {
    color: #CCC;
}

header .menu li a:hover {
    color: var(--whith);
    font-weight: bold;
    text-decoration: underline;
}

/* Conteúdo principal */

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../image/bg-curvy-desktop.svg) center bottom no-repeat;
    background-color: var(--primary-dark);
    background-size: contain;
    
}

.principal .texto-principal {
    display: flex;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 50px;
    max-width:686px;

}

.principal .texto-secundario {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 19px;
    margin: 40px;
    font-weight: 400;
    max-width:644px;
    line-height:30px;
}

.principal .btn {
    background-image: linear-gradient(to right,hsl(198, 60%, 50%),hsl(176, 68%, 64%));
    border-radius: 50px;
    padding: 15px 75px;
    font-size: 15px;
    font-weight: 700;
    color: var(--whith);
    margin-top: 25px;
    margin-bottom: 10%;
    
}

.principal .btn:hover {
    background-image: linear-gradient(to right,hsl(176, 68%, 64%), aqua);
}

/*  serviços */

.servicos {
    background-color: var(--main-dark);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    max-width:900px;
    margin:0 auto;
    
}

.servicos .img img {
    display:flex;
    height: 80px;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    
}

.servicos a {
    display: flex;
    justify-content: center;
    text-align: center;
}

.servicos h2 {
    font-size: 2rem;
    text-align: center;
    margin: 20px 10px;
}

.servicos p {
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 30px
}

.productive {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-between;
    margin-top: 100px;
    column-gap: 50px;
}

.productive .text-right h2 {
    display:flex;
    font-size: 4.5rem;
    margin-bottom: 25px;
    max-width: 372px;
}

.productive .text-right p {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 5px;
}

.productive .text-right a {
    font-size: 1.2rem;
    color: var(--btn-primary);
    margin-left: 10px;
    text-decoration: underline;
    justify-items: center;

}

.productive .text-right .arrow {
    display:flex;   
    position: absolute;
}
.productive .text-right .arrow a {
    margin-right:5px;
}

/* .productive .text-right .arrow svg a:hover {
    color:var(--whith)
    fill:#FFF;
} */

.productive .text-right a:hover {
    color: var(--whith);
    
}

/*  */
.apresenta {
    display: flex;
    justify-content: center;
    margin-top: 10rem;

}

.aspas {
    position: relative;
    left: 100px;
    bottom: 21px;
    z-index: -1;
}

.fundador {
    display: flex;
    max-width: 1440px;
    column-gap: 20px;
    padding: 0px 50px;
}

.box-fundador {
    background-color: var(--primary-dark);
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 10px 5px 15px var(--shadow);
    display: flex;
    margin: 10px;
    padding-bottom: 30px;
    justify-content: space-around;
}

.box-fundador p {
    font-size: 1.4rem;
    padding: 2rem;

}

.box-fundador .img-fundador {
    margin-left: 20px;
    display: flex;
    float: left;

}

.box-fundador .img-fundador img {
    border-radius: 50%;
    height: 3rem;
    margin-right: 1rem;
}

.box-fundador .name {
    font-size: 8px;
    line-height: 2rem;
}

.login {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--primary-dark);
    box-shadow: var(--shadow) 1em 1.5em 5em;
    position: relative;
    top: 120px;

}

.login-h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}

.login-p {
    font-size: 12px;
    padding: 20px;
    max-width:80%;
    margin:0 auto;
}

.input-email {
    width: 50%;
    height: 40px;
    border-radius: 25px;
    padding: 10px;
}

.login-btn {
    border-radius: 25px;
    height: 40px;
    padding:0 30px;
    background-image:linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color: var(--whith);
    margin: 20px;
}

.login-btn:hover {
    background-image: linear-gradient(to right,hsl(176, 68%, 64%), aqua);
}


/* Footer */

.rodape {
    background-color: var(--footer-dark);
    font-size: 15px;
    padding: 30px 50px;

}

.rodape .logo {
    padding-top: 130px;
    margin-left:20px;
    margin-bottom:30px;

}

.rodape-baixo {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.rodape .localiza {
    display: flex;
    max-width:30%;
}

.rodape .localiza img {
    margin-right: 10px;
    width:15px;
    height:15px;

}

.rodape .contact {
    display: flex;
    flex-direction: column;
}

.rodape .contact .contact-phone img,
.contact-email img {
    margin-right: 20px;
}

.menu-rodape {
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

.left li,
.right li {
    margin:0 20px 20px;
}

.menu-rodape li:hover {
    font-weight: bold;
}

.redes a {
    margin: 10px;
    font-size: 18px;
    padding:8px;
    border: 1px solid #FFF;
    border-radius:60%;
    text-align: center;
}

.redes a:hover {
    color: var(--btn-hover);
}