:root {
    /* intro and email sign up background */
    --primary-dark: hsl(217, 28%, 15%);

    --main-dark: hsl(218, 28%, 13%);

    --footer-dark: hsl(216, 53%, 9%);

    --testimonials-dark: hsl(219, 30%, 18%);

    --shadow: rgb(31, 29, 29);

    --btn-primary: hsl(198, 60%, 50%),hsl(176, 68%, 64%);
    

    --whith: hsl(0, 0%, 100%);
}